<div class="flex justify-center mt-6" id="comment-form">
   <%= form_with model: comment, url: post_comments_path(post), class: "space-y-4" do |f| %>
      <div>
        <%= f.label :body, "コメント",class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= f.text_area :body, class: "w-[690px] h-[62.15px] mb-3 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none", placeholder: "コメントを入力してください" %>
      </div>
      <div>
        <%= f.submit "投稿", class: "px-5 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 transition duration-200" %>
      </div>
    <% end %>
</div>