<main class="flex-grow flex flex-col items-center justify-center text-center">
  <h1 class="text-3xl font-bold mb-4">AppTitle</h1>
  <p class="mb-8">サービスの使い方説明をここに掲載予定</p>
  <div class="space-y-4">
    <%= link_to "新規登録", new_user_registration_path, class: "bg-blue-500 text-white px-6 py-3 rounded block text-center" %>
    <%= link_to "ログイン", new_user_session_path, class: "bg-orange-500 text-white px-6 py-3 rounded block text-center" %>
  </div>
</main>