<!-- マップを表示する要素 -->
<div class="w-full h-[600px]" id="map"></div>

<script>
  // 地図を初期化する関数
  function initMap() {
    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 }, // 東京駅周辺
      zoom: 10
    };
    const map = new google.maps.Map(document.getElementById('map'), mapOptions);
  }
</script>

<!-- Google Maps APIを読み込み -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>