<p>こんにちは、<%= @resource.email %>様</p>

<p>パスワード変更用のリンクがリクエストされました。以下のリンクからパスワードの再設定を行うことができます。</p>

<p><%= link_to "パスワードを変更する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>なお、上記のリンクにアクセスして新しいパスワードを設定しない限り、パスワードは変更されませんのでご安心ください。</p>
